@use "styles/mixins" as *;

.supported {
  overflow: hidden;
  position: inherit;
}

.container {
  width: 100%;
  overflow: hidden;
  // height: var(--size-20);
  position: relative;
  // margin-bottom: var(--size-10);
}

.list {
  overflow: hidden;
  cursor: grab;
  // position: absolute;
  width: 100vw;
  height: 100%;

  &:active {
    cursor: grabbing;
  }
}

.item {
  --padding: var(--size-6);
  --symbol-size: var(--size-7);
  width: auto !important;
  max-width: 150px;
  min-width: 150px;
  background-color: var(--background-lower);
  border-radius: var(--radius-m);
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding) calc(var(--padding) / 1.25);
  flex: 1;
  white-space: nowrap;
}

.name {
  font-weight: bold;
  font-size: var(--size-3-5);
  margin: calc(var(--padding) / 2.5) 0 0.35em;
}

.time {
  font-size: var(--size-3);
  color: var(--text-secondary);
}

.symbol {
  color: var(--white);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--white);
}

// if screen > 700px
@include min(700px) {
  .list {
    width: 40vw;
  }
}
